@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Promo slide*/

#promo {
  background: #000;
  width: 100%;
  color: white;
  font-size: 15px;
  height: 9.5vh;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
}

#promo .shop a {
  color: white;
}

#promo .shop {
  padding-left: 10px;
}

#promo .English {
  cursor: pointer;
}

/* end of promo slide */

/*Header*/
#header {
  padding-bottom: 3vh;
  padding-top: 6vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#header p {
  letter-spacing: 5px;
}
#header .x {
  cursor: pointer;
  color: brown;
  font-weight: 700;
}

#header img {
  cursor: pointer;
}

#header .links {
  display: inline-flex;
}

#header .links {
  list-style-type: none;
}

#header .links a {
  color: #000;
  text-decoration: none;
  padding-right: 1.5em !important;
}

#header .search {
  padding: 5px;
  border: none;
  width: 55%;
  background: whitesmoke;

  border-color: none;
  border-radius: none;
  border-width: 0;
  outline: none;
}

#header #mainIcons {
  cursor: pointer;
}

#header #mainIcons:hover {
  color: brown;
}

#header #button {
  position: relative;
  color: gray;
  right: 35px;
  top: 1px;
  padding-left: -20px;
}

hr {
  width: 100%;
}

/*Vertical horizontal rule style*/
.secondhr {
  transform: rotate(90deg);
  width: 30.9%;
  height: 1px;
  margin-top: 24.9vh;
  left: -19%;
}

/*Hero section style*/

#heroSection {
  padding: 2.5em;
  display: flex;
}

#heroSection .left-sidebar ul li {
  list-style-type: none;
}
#heroSection .left-sidebar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  line-height: 2.5em;
}

#heroSection .image-carosel {
  background: #000;
  color: white;
  display: flex;
  width: 60%;
  margin-left: -9.5em;
}
#heroSection .image-carosel .text {
  padding: 1.5em;
  padding-top: 3.5em;
}

#heroSection .image-carosel .text p img {
  height: 4vh;
  position: relative;
  padding-top: 10px;
}

#heroSection .image-carosel .text p span {
  padding-left: 0.5;
  font-size: 12px;
}

#heroSection .image-carosel .text p {
  padding-bottom: 1.5em;
}

#heroSection .image-carosel a {
  color: white;
}

#heroSection .image-carosel a i {
  padding-left: 10px;
}

#heroSection .image-carosel .text h3 {
  padding-bottom: 1.5em;
  font-size: 28px;
  line-height: 1.5em;
}
